<div class="category-container">
  <div>
    <h3 class="category-title">{{category.name}}</h3>
    <p class="category-description">{{category.description}}</p>
  </div>

  <div style="margin: 15px 0px">
    <img src="../../../../assets/img/genie.svg">
    <span class="genie-title">Ask Genie</span>
    <span class="fa status-icon fa-info-circle"></span>
  </div>

  <div class="search-box" style="margin-bottom: 25px;">
    <fab-search-box placeholder="Search"></fab-search-box>
  </div>

  <div style="margin-left: -20px;">
    <detector-container [detector]="categoryId" [hideDetectorControl]="true"></detector-container>
  </div>
</div>